:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --Homepage-text: 14px;
  --font-family: Nunito Sans;

  --light-weights: 300;
  --bold-weight: 600;
  --bolder-weight: 800;

  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: var(--Homepage-text);
  font-weight: var(--light-weights);
  font-family: var(--font-family);
}

body {
  background-color: var(--very-light-gray);
}

li {
  list-style: none;
}
li:hover{
  background-color: var(--very-light-gray);
}

.container {
  padding: 1rem;
  /* border: 1px solid black; */
}

.header {
  box-shadow: var(--shadow);
}

.header-content {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
}
.header-content h1 {
  font-size: 20px;
  font-weight: var(--bolder-weight);
}

.dark-mode {
  cursor: pointer;
}
.dark {
  font-weight: var(--bold-weight);
}

.search {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  border-radius: 0.5rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}

.search input,
.filter-btn {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem;
}
input,
::placeholder {
  font-size: var(--Homepage-text);
  color: var(--dark-gray);
}


.filter{
  position: relative;
}

.filter, .filter-region {
  width: 15rem;
  /* border: 1px solid black; */
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.region{
  position: relative;
}


.filter-region{
  /* border: 1px solid black; */
  position:absolute;
  top: 110%;
}

.filter-region li{
  /* border: 1px solid red; */
  padding: 0.2rem 1rem;
}

.filter-region ul{
  position: absolute;
  display: none;
}
.filter-region li ul {
  width: 12rem;
  background-color: var(--white);
  border-radius: 0.3rem;
  box-shadow: var(--shadow);
  z-index: 3;
  /* padding: 0.5rem 0rem; */
  left:53%;
  top:0px

}
.filter-region li:hover > ul{
    display: block;
    /* border: 1px solid black; */
}

.filter-region li:hover > ul:hover{
  display: block;
}

/* .filter-option li{
  cursor: pointer;
  border-radius: 0.5rem ;
} */
.filter-region a{
  border:1px solid black;
  padding: 0rem 9.5rem 0rem 0rem;
  
}


.filter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-option{
  display: none;
}




.active {
  display: block;
} 

.cards-country {
  box-shadow: var(--shadow);
  margin: 2rem 0rem;
  border-radius: 0.5rem;
}

.country-image img {
  width: 100%;
  aspect-ratio: 2/1.1;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  object-fit: fill;
}

.country-content {
  padding: 1rem 1rem 2rem 1rem;
}

.country-content li h1 {
  font-size: 17px;
  font-weight: var(--bolder-weight);
  margin: 0.5rem 0rem;
}
.country-content li {
  padding: 0.5rem 0rem;
}
.country-content li span {
  font-weight: var(--bold-weight);
}
.countryError h2 {
  color: var(--dark-gray);
  font-size: 18px;
}
.countryError {
  width: 90vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 95vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1025px) {
  .container {
    padding: 2rem 4rem;
  }
  .cards-country {
    margin: 0rem;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
  }

  .filter-region li ul{
    left: -80.5%;
  }
  
  .search {
    width: 40%;
    margin-bottom: 0rem;
  }
  .country-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 2rem 3rem;
  }

  .cards-country {
    margin: 0rem;
  }
  .filter-container {
    display: flex;
    justify-content: space-between;
  }
  .search {
    width: 40%;
    margin-bottom: 0rem;
  }
  .country-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: 520px) and (max-width: 768px) {
  .container {
    padding: 2rem 3rem;
  }
  .cards-country {
    margin: 0rem;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
  }
  .search {
    width: 40%;
    margin-bottom: 0rem;
  }
  .country-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
